* {
  margin: 0;
  padding: 0;
}

body {
  /*background: url('pexels-photo.jpg');*/
  background-color: #DCC7AA;
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
  z-index: -2px;
}

h1 {
  color: white;
  vertical-align: middle;
  font-size: 62px;
  border: 1px solid white;
  padding: 1%;
  background-color: #CDCDCD;
}

h2 {
  color: white;
  vertical-align: middle;
  font-size: 48px;
  border: 1px solid white;
  margin-top: 30px;
  padding: 1%;
  background-color: #CDCDCD;
}

a {
    display: flex;
    color: white;
    vertical-align: middle;
    flex-direction: row;
    font-size: 28px;
    /*border: 1px solid white;*/
    margin-top: 30px;
    padding: 1%;
    list-style: none;
    letter-spacing: 5px;
    margin-left: 10px;
}


.info {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  height: 70vh;

}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  -webkit-transition: infoBox all 1s ease;
}

@keyframes infoBox {

}
